
<style type="text/css">
	body{
		background-color: whitesmoke;
		text-align: center;
		font-family: Helvetica, Arial;
	}
	h1{
		text-transform: uppercase;
		color:  #ffccdd;
		font-family: Helvetica, Arial;
		font-size: xx-large;
		font-weight: bold;

		letter-spacing: 0.5em;
		word-spacing: 2em;
		line-height: 1.5;
	}
	h2{
		text-transform: uppercase;
		color:  #ffccdd;
		font-family: Helvetica, Arial;
		font-size: xx-large;
		letter-spacing: 0.5em;
		word-spacing: 2em;
		line-height: 2;
		font-weight: bold;
		text-align: center;
	}
	h3{
		color:  #ff7799;
		font-family: Helvetica, Arial;
		font-size: x-large;
		text-align: center;
		letter-spacing: 0.03em;
	}

	#div1{
		font-size: 18pt;
		color: orange;
		font-style: bold;
		text-align: center;
		position: fixed;
		margin: 10px;
 		padding: 3px;
	}
	#div2{
		font-size: xxpt;
		color: orange;
		line-height: 3;
		text-align: center;
		position: relative;
	
	}
	#div3{
		font-size: small;
		font-family: Helvetica, Arial;
		color: #559977;

		line-height: 1.5;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 40px;
	}
	#div4{
		color: #bcb6bd;
		font-size: large;
		font-family: Helvetica, Arial;
		text-align: center;
		padding-bottom: 99px;
		padding-top: 50px;
 		
	}
	}
	#div5{
		color: #33aa77;
		font-size: medium;
		font-family: Helvetica, Arial;
		text-align: center;
	}
	#div6{
		padding: 30px;
		padding-bottom: 60px;
	}
	
	#div1,#div2, #div3, #div4, #div5, #div6 {
		text-align: center;
	}
	p{
		color: #bcb6bd;
		font-size: large;
		font-family: Helvetica, Arial;
		text-align: center;
	}
	#IntoRightNow{
		color: #33aa77;
		font-style: bold;
		font-size: 40pt;
		letter-spacing: 0.3em;
		word-spacing: .07m;
		font-family: Impact;
		text-align: center;
	}
	table{
		text-align: center;
	}
	table, th, tr, td{
		text-align: center;
		border: 1px whitesmoke;
		border-color: whitesmoke;
	}
	
	.center{
		text-align: center;
	}
	li {
		display: inline-block;
	}
	span{
	
		color: #bcb6bd;
		letter-spacing: .1em;
		color:  #ff7799;
		font-family: Helvetica, Arial;
		font-size: small;
		letter-spacing: 0.03em;
	}
	.rightx {
  		background-color: #ffeeff;
		 border: 1px #33aa77;
 		 margin: 30px;
 		 padding: 20px;
		color: #bcb6bd;
		font-size: small;
		font-family: Helvetica, Arial;
		text-align: left;
		line-height: 2;
		letter-spacing: .07em;
		display: inline-block;
 		}
	.center {
  		margin-left: auto;
  		margin-right: auto;
	}
 	#msg {
		color: #bcb6bd;
		font-size: medium;
		font-family: Helvetica, Arial;
		text-align: left;
		line-height: .05;
		letter-spacing: .07em;
		font-style: normal;
	}
	form{
		padding: 15px;
		background-color: #ffeeff;
		font-style: italic;
		border-style: solid;
		border-color: #ffeeff;
		display: inline-block;
		border: 1px #33aa77;
 		 margin: 30px;
 		 padding: 20px;

	}
	input[type=button] {
		color: #ff7799;
		padding: 5px;
		background-color: whitesmoke;
	}